MONGO_URI=mongodb+srv://usuario:senha@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority&appName=orion
MONGO_DB_NAME=orion
MONGO_COLLECTION_NAME=contracts

PNCP_BASE_URL=https://pncp.gov.br/api/consulta
PNCP_PAGE_SIZE=50
PNCP_TIMEOUT=60
PNCP_MAX_RETRIES=3

ETL_DATE_INITIAL=
ETL_DATE_FINAL=
ETL_UF_FILTER=
ETL_MODALITY_CODE=
ETL_MAX_PAGES=

MONGO_SERVER_SELECTION_TIMEOUT_MS=5000